In [2]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

print(data['Sex'].value_counts())

male      577
female    314
dtype: int64

In [3]:
print(data['Survived'].value_counts())

0    549
1    342
dtype: int64

In [8]:
survived = data['Survived'].value_counts()
surv_count = survived[1] / (len(data.index)) * 100

print(surv_count)

38.3838383838

In [5]:
print(data['Pclass'].value_counts())

3    491
1    216
2    184
dtype: int64

In [6]:
classes = data['Pclass'].value_counts()
print (classes[1] / len(data.index) * 100)

24.2424242424

In [7]:
print(data['Age'].mean())
print(data['Age'].median())

29.69911764705882
28.0

In [9]:
data.corr(method='pearson')['SibSp']['Parch']

0.41483769862015263

In [16]:
secNames = []
for row in data.iterrows():
    if row[1]['Sex'] == 'female':
        secNames.append(row[1]['Name'].split(', ')[1].split(' ')[1].strip('()'))
        
#print(secNames)

name_dict = {}
for name in secNames:
    if name_dict.get(name) == None:
        name_dict[name] = 1
    else:
        name_dict[name] += 1
    
sorted_dict = sorted(name_dict, key=name_dict.get, reverse=True)
print(sorted_dict)

['William', 'Mary', 'Anna', 'Elizabeth', 'Thomas', 'Margaret', 'John', 'Alice', 'Frederick', 'Edward', 'Ellen', 'Helen', 'James', 'Bertha', 'Katherine', 'Kate', 'Hanora', 'Annie', 'Catherine', 'Joseph', 'Charles', 'Amelia', 'Augusta', 'Marion', 'Samuel', 'Henry', 'George', 'Emily', 'Mabel', 'Hedwig', 'Sidney', 'Ida', 'Marija', 'Frank', 'Constance', 'Elsie', 'Madeleine', 'Marie', 'Lillian', 'Jean', 'Albert', 'Marjorie', 'Susan', 'Bridget', 'Alexander', 'Lizzie', 'Ellis', 'Daisy', 'Nicholas', 'Edith', 'Ruth', 'Countess.', 'Lucile', 'Delia', 'Kristina', 'Katie', 'Agda', 'Maria', 'Aurora', 'Harvey', 'Rosa', 'Ann', 'Elisabeth', 'Joan', 'Caroline', 'Martin', 'Encarnacion', 'Agnes', 'Leopold', 'Antoni', 'Marguerite', 'Stella', 'Mantoura', 'Julie', 'Eleanor', 'Norman', 'Stina', 'Juha', 'Ernst', 'Erna', 'Eliina', 'Anders', 'Malake', 'Elina', 'Manca', 'Doolina', 'Elmer', 'Beila', 'Sam', 'Luise', 'Clear', 'Eugenie', 'Thamine', 'Harriet', 'Guillaume', 'Dickinson', 'Mari', 'Elise', 'Carl', 'Brigdet', 'Louis', 'Pieta', 'Robina', 'Jamila', 'Torborg', 'Lutie', 'Matilda', 'Josef', 'Berthe', 'Percival', 'Helmina', 'Florence', 'Virginia', 'Hildur', 'Edwy', 'Georgette', 'Amy', 'Ada', 'Viktor', 'Darwis', 'Benjamin', 'Hjalmar', 'Mara', 'Julius', 'Saiide', 'Ernest', 'Banoura', 'Aloisia', 'Oscar', 'Hulda', 'Laura', 'Amin', 'Roberta', 'Albina', 'Ethel', 'Sara', 'Laina', 'Richard', 'Gladys', 'Anne', 'Gertrude', 'Edgar', 'Stanton', 'Kornelia', 'Nils', 'Peter', 'Eva', 'Ebba', 'Sinai', 'Victor', 'Carla', 'Hilda', 'Walter', 'Sigrid', 'Simonne', 'Gretchen', 'Jessie', 'Margareth', 'Rosalie', 'Lucy', 'Hileni', 'Dorothy', 'Frederic', 'Amelie', 'Velin', 'Asuncion', 'Hudson', 'Solomon', 'Wendla', 'Catharina', 'Pekka', 'Fatima', 'Phyllis', 'Margit', 'Karolina', 'Lyyli', 'Emma', 'Katriina', 'Nourelain', 'Edwina', 'Adele', 'Johan', 'Emil', 'Helene', 'Henriette', 'Jacques', 'Karl', 'Mathilde', 'Ingeborg', 'Gerda', 'Telma', 'Wilhelm', 'Nora', 'Jeannie', 'Leontine', 'Lucille']